<div class="container-form">

    <h2>Introduce tus datos:</h2>

    <form [formGroup]="formGroup" (submit)="onSubmit()" novalidate>
        <div class="input-field">
            <label for="message">Introduce tu nombre:</label>
            <input type="text" id="name" name="name" formControlName="name" required>
        </div>

        <div class="input-field">
            <label for="salary">Salario/Base imponible:</label>
            <input type="number" id="salary" name="salary" formControlName="salary" required>
        </div>

        <div class="input-field">
            <label for="individual_pension">Plan de pensión de persona física:</label>
            <input type="number" id="individual_pension" name="individual_pension" required max="1500"
                formControlName="individualPension">
            <div *ngIf="formGroup.get('individualPension')?.invalid && formGroup.get('individualPension')?.touched">
                <div *ngIf="formGroup.get('individualPension')?.errors" style="color: red">El valor no puede ser
                    superior a
                    1500€</div>
            </div>
        </div>

        <div class="input-field">
            <label for="company_pension">Plan de pensión de empresa:</label>
            <input type="number" id="company_pension" name="company_pension" required max="8500"
                formControlName="companyPension">
            <div *ngIf="formGroup.get('companyPension')?.invalid && formGroup.get('companyPension')?.touched">
                <div *ngIf="formGroup.get('companyPension')?.errors" style="color: red">El valor no puede ser superior a
                    8500€</div>
            </div>
        </div>

        <div class="input-field">
            <label for="self_employed_pension">Plan de pensión de autónomo:</label>
            <input type="number" id="self_employed_pension" name="self_employed_pension" required max="5750"
                formControlName="selfEmployedPension">
            <div *ngIf="formGroup.get('selfEmployedPension')?.invalid && formGroup.get('selfEmployedPension')?.touched">
                <div *ngIf="formGroup.get('selfEmployedPension')?.errors" style="color: red">El valor no puede ser
                    superior a
                    5750€</div>
            </div>
        </div>

        <div class="container-buttons">
            <input type="submit" value="Calcular" class="submit" [disabled]="formGroup.invalid">
        </div>
    </form>

</div>